body {
    margin:0;
    padding:0;
    box-sizing: ''
}
.center {
    margin-left: 10%;
    margin-right: 10%;
    width: 10%;
    justify-content:end;
    }
    .nico {
        
        margin-left: 50%;
        margin-right: 50%;
        width: 50%;
    
    
    
    }
    
    

    